.loggedOnUserComponent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
    p {
        font-size: large;
    }
    button {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    border-bottom-style: dashed;
}